<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.vasco.anistia">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/escudo_vasco"
        android:label="@string/app_name"
        android:roundIcon="@drawable/escudo_vasco"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".SearchPartner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchResult"
            android:label="@string/title_activity_search_result" />
        <activity
            android:name=".PartnerDetails"
            android:label="@string/title_activity_partner_details"/>
    </application>

</manifest>